body {
    background-color: rgb(92, 219, 109);
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(130, 218, 233);
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #908fcc;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color:rgb(124, 221, 216);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #92bae0;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(108, 185, 221);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

.card {
    background-color: #0636d4;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #2d646b;
    border-radius: 10px;
}
nst botao = document.querySelector("#botaoMensagem");
const mensagem = document.querySelector("#mensagemInterativa");
botao.addEventListener("click",mostrarMensagem);
function mostrarMensagem(){
    mensagem.textContent =
    "você acabou de criar uma interação com JavaScript"
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #61e0e9;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}